VehicleForNet/VehicleForNet/Service References/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://ws" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws">
      <xsd:element name="getLst">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getLstResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="tns:ArrayOfString" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="writeObjectOut">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="xtlb" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="jkxlh" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="jkid" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WriteXmlDoc" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="writeObjectOutResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryObjectOut">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="xtlb" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="jkxlh" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="jkid" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="QueryXmlDoc" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryObjectOutResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exePro_18C55">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exePro_18C55Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exePro">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exeProResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLstRequest">
    <wsdl:part name="parameters" element="tns:getLst" />
  </wsdl:message>
  <wsdl:message name="queryObjectOutResponse">
    <wsdl:part name="parameters" element="tns:queryObjectOutResponse" />
  </wsdl:message>
  <wsdl:message name="exePro_18C55Response">
    <wsdl:part name="parameters" element="tns:exePro_18C55Response" />
  </wsdl:message>
  <wsdl:message name="getLstResponse">
    <wsdl:part name="parameters" element="tns:getLstResponse" />
  </wsdl:message>
  <wsdl:message name="exePro_18C55Request">
    <wsdl:part name="parameters" element="tns:exePro_18C55" />
  </wsdl:message>
  <wsdl:message name="writeObjectOutRequest">
    <wsdl:part name="parameters" element="tns:writeObjectOut" />
  </wsdl:message>
  <wsdl:message name="exeProResponse">
    <wsdl:part name="parameters" element="tns:exeProResponse" />
  </wsdl:message>
  <wsdl:message name="queryObjectOutRequest">
    <wsdl:part name="parameters" element="tns:queryObjectOut" />
  </wsdl:message>
  <wsdl:message name="writeObjectOutResponse">
    <wsdl:part name="parameters" element="tns:writeObjectOutResponse" />
  </wsdl:message>
  <wsdl:message name="exeProRequest">
    <wsdl:part name="parameters" element="tns:exePro" />
  </wsdl:message>
  <wsdl:portType name="DataServicePortType">
    <wsdl:operation name="getLst">
      <wsdl:input name="getLstRequest" message="tns:getLstRequest" />
      <wsdl:output name="getLstResponse" message="tns:getLstResponse" />
    </wsdl:operation>
    <wsdl:operation name="writeObjectOut">
      <wsdl:input name="writeObjectOutRequest" message="tns:writeObjectOutRequest" />
      <wsdl:output name="writeObjectOutResponse" message="tns:writeObjectOutResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryObjectOut">
      <wsdl:input name="queryObjectOutRequest" message="tns:queryObjectOutRequest" />
      <wsdl:output name="queryObjectOutResponse" message="tns:queryObjectOutResponse" />
    </wsdl:operation>
    <wsdl:operation name="exePro_18C55">
      <wsdl:input name="exePro_18C55Request" message="tns:exePro_18C55Request" />
      <wsdl:output name="exePro_18C55Response" message="tns:exePro_18C55Response" />
    </wsdl:operation>
    <wsdl:operation name="exePro">
      <wsdl:input name="exeProRequest" message="tns:exeProRequest" />
      <wsdl:output name="exeProResponse" message="tns:exeProResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceHttpBinding" type="tns:DataServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLst">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getLstRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLstResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeObjectOut">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="writeObjectOutRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="writeObjectOutResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryObjectOut">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="queryObjectOutRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryObjectOutResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exePro_18C55">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exePro_18C55Request">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exePro_18C55Response">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exePro">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exeProRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exeProResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceHttpPort" binding="tns:DataServiceHttpBinding">
      <wsdlsoap:address location="http://172.18.29.70:8088/ajlw2015/services/DataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>